In [202]:
# peep peeep
!pip install pandas -q
# Load bar (i forgot to use it of course)
!pip install tqdm
# the engine behind the geo reverse process
!pip install geopy

Requirement already satisfied: tqdm in /opt/conda/lib/python3.10/site-packages (4.64.1)
Requirement already satisfied: geopy in /opt/conda/lib/python3.10/site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /opt/conda/lib/python3.10/site-packages (from geopy) (2.0)

In [203]:
# Importing our badbois
import pandas as pd
from tqdm import tqdm
from geopy.geocoders import Nominatim

In [204]:
known_geos = pd.read_csv('Known_UserDistrict_Geodata.csv') #LOAD DAT DATA

In [205]:
geolocator = Nominatim(user_agent="geoapiExercises") # This is a class object that can give us the text-based location data from our lat/lon.

In [206]:
ID_filter = list(known_geos.Userinfo_Key.unique()) # We need a list of unique user ID's so we don't get more than one from each

In [207]:
# I need to find the most frequent value for lat and lon, as this would be where we'd expect to find our users. Some users may have more than one, and so we get a list of 2 or more
known_geos.loc[known_geos['Userinfo_Key'] == 474737].Lat.mode()[0] #Checking if I can select a value out of the list that appeared without [0]

19.2283004

In [208]:
#I wanna create a loop to do the annoying work, so we loop our unique ID's through and using the code before, we fill 2 lists for the next part.
lat_list = [] # We generate 2 empty lists to fill with the lat/lon data for each user. The indexes of the lists will match up for the imputation later on.
lon_list = []
for ID in tqdm(ID_filter): #We need the filtered list of unique ID's for the users we found
    lat_temp = known_geos.loc[known_geos['Userinfo_Key'] == ID].Lat.mode()[0] # We find the most frequent Lat data for each user. If they got more than one, we just pick the first on the list.
    lon_temp = known_geos.loc[known_geos['Userinfo_Key'] == ID].Lon.mode()[0] # We do the same for the Lon data.
    lat_list.append(lat_temp) # We append the data to the empty lists we created earlier.
    lon_list.append(lon_temp)

100%|██████████| 1619/1619 [00:04<00:00, 382.74it/s]

In [209]:
print(str(lat_list[0])+ ','+ str(lon_list[0])) # The model takes the lat/lon input as a string with a comma separator

19.2283004,82.552138

In [210]:
# Let's try out this badboi on the first user (the list indexes match with the ID_filter we passed for the loop, which makes assignment easier later)
location = geolocator.reverse(str(lat_list[0])+ ','+ str(lon_list[0]))

In [211]:
print(location) # Woooo, we get some goodies. One step closer to finding those users

NH26, Nabarangapur, Nabarangapur P.S, Nabarangapur, Odisha, 764059, India

In [212]:
# There is a way to get a dictionary of the elements created from that Lat/Lon data. For the purpose of recreating the df_users we are interested in the state_district, state and country values 
address = location.raw['address']
print(address)

{'road': 'NH26', 'town': 'Nabarangapur', 'county': 'Nabarangapur P.S', 'state_district': 'Nabarangapur', 'state': 'Odisha', 'ISO3166-2-lvl4': 'IN-OR', 'postcode': '764059', 'country': 'India', 'country_code': 'in'}

In [213]:
district = location.raw['address'].get('state_district','') # We're only interested in the districts though

In [214]:
district # Seems to work

'Nabarangapur'

In [215]:
user_district_df = pd.DataFrame(ID_filter, columns=['Userinfo_Key']) # Let's recreate a dataframe from our ID_list

In [216]:
user_district_df.head(5)

   Userinfo_Key
0        474737
1        474986
2        476738
3        481106
4        481511

In [217]:
# We create a list, and run each ID through our geolocator to get the districts. These will match up indexwise with our dataframe
found_you = [] # Sorry about the not so creative names, I'll do better next time, promise :) 
for lat, lon in tqdm(zip(lat_list, lon_list)):
    location = geolocator.reverse(str(lat)+ ','+ str(lon))
    district = location.raw['address'].get('state_district','')
    found_you.append(district)

# There's 1619 unique UserKeys, so it performs 1619 iterations (1619it)?

1619it [13:59,  1.93it/s]

In [218]:
found_you_df = pd.DataFrame(found_you,columns = ['UserDistrict'])

In [219]:
# And now we just concatenate the dataframes;

found_users_df = pd.concat([user_district_df, found_you_df],axis=1)
found_users_df.head(10)

   Userinfo_Key           UserDistrict
0        474737           Nabarangapur
1        474986         Jammu District
2        476738              Faridabad
3        481106           Kanpur Nagar
4        481511          Pauri Garhwal
5        482082  አዲስ አበባ / Addis Ababa
6        483043                 Cachar
7        484768              Raebareli
8        486277                 Bastar
9        487821    Kamrup Metropolitan

In [264]:
### After this point, I am just cleaning the outputs of the location scrape. This is just to show how we did it, and not something to just be copy/pasted necessarily.




# There might be a smarter way of implementing NLP to perform the majority of the final cleaning/translations from the Google scrape, but we didn't have time to properly look into those solutions at the time of writing this.

In [265]:
found_users_df['UserDistrict'].unique()

array(['Nabarangapur', 'Jammu District', 'Faridabad', 'Kanpur Nagar',
       'Pauri Garhwal', ' Addis Ababa', 'Cachar', 'Raebareli', 'Bastar',
       'Kamrup Metropolitan', 'Pathanamthitta', 'Muzaffarpur', 'Neemuch',
       'Bale', 'Zone 1', 'Patan', 'Chitrakoot', 'Samastipur',
       'Dahod District', 'Vidisha', 'Singrauli', 'Tapi District',
       'Anand District', 'Sikar District', 'Khargone',
       'Bhilwara District', 'Uttar Dinajpur', 'Gautam Buddha Nagar',
       'Saharanpur', 'Dehradun', 'Murshidabad', 'Gonda', 'South Delhi',
       'Haveri district', 'Kolkata', 'Sahibzada Ajit Singh Nagar',
       'South 24 Parganas', 'North Gondar', 'Jajapur', 'Hugli',
       'Srinagar District', 'Darjeeling District', 'Purbi Singhbhum',
       'North Shewa (Oromia Region)', 'Nagaur District', 'Kheda District',
       'Moga', 'Amritsar', 'Vizianagaram', 'Ghazipur',
       'Jabalpur District', 'Varanasi', 'Shamli', 'Mahoba', 'Mau',
       'Rajkot', 'Hapur', 'Moradabad', 'Bareilly District',
       'Salem District', 'Bangalore Urban', 'Prayagraj', 'Nawada',
       'Mainpuri', 'Udaipur District', 'Pithoragarh district',
       'Tirupattur District', 'Sitamarhi', 'Chandauli', 'Aizwal',
       'Gopalganj', 'Sambhal', 'Sitapur', 'Mokokchung', 'Bahraich',
       'Sehore', 'Kutch District', 'West Gojjam', 'Bijnor', 'Agar Malwa',
       'Gandhinagar District', 'Patna District', 'Bhagalpur', 'Fatehpur',
       'Sabar Kantha District', 'Ranchi', 'Ujjain', 'Khunti',
       'Puducherry district', 'Nadia', 'Banka', 'Dibrugarh',
       'North West Delhi', 'Vadodara District', 'Kaimur (Bhabua)',
       'Dhanbad', 'Lucknow', 'Pashchim Champaran', 'Korba District',
       'Sheikhpura', 'Siddharth Nagar', 'Mahrajganj', 'Godda',
       'Raigarh District', 'Mirzapur District', 'Purnia district',
       'Sharawasti', 'Tehri Garhwal', 'Gaya', 'Chhindwara', 'Valsad',
       'Barnala', 'Nav Sari District', 'Bemetara', 'Bokaro', 'Rangareddy',
       'Mahesana District', 'Faridkot', 'Jaunpur', 'Shimla', 'Mandi',
       'Nalanda', 'Saran', 'Lakhisarai', 'Sri Potti Sriramulu Nellore',
       'Serchhip', 'South West Shewa', 'Pune', 'Meerut',
       'Balaghat District', 'Chandigarh', 'Hisar', 'Ambala', 'Supaul',
       'Seraikela Kharsawan', 'Jimma', 'Gurdaspur district',
       'Sait Kibir Nagar', 'North Shewa (Amhara Region)',
       'Ramanathapuram District', 'Vijayanagara district', 'Kakinada',
       'Bilaspur', 'Araria', 'Surguja District', 'Dumka', 'Nuh',
       'Jaipur District', 'Purba Medinipur', 'Gondiya', 'Cuttack',
       'Fafan', 'Patiala', 'Yamunanagar', 'Gorakhpur', 'Narayanpur',
       'Jyotiba Phule Nagar', 'Saharsa', 'Sakti', 'Rohtak',
       'Chittorgarh District', 'Prakasam', 'Rewari District', 'Guntur',
       'Mahendragarh', 'Etawah', 'Jind', 'Gajapati', 'Agra', 'Bathinda',
       'Purba Champaran', 'Gurgaon', 'Gir Somnath District', 'Jalandhar',
       'Raichur district', 'Raipur', 'Sirsa', 'Fatehabad', 'Karnal',
       'Gamo Gofa', 'Barabanki', 'Sonipat', 'Deoria', 'Mumbai Suburban',
       'Amravati', 'Pashchimi Singhbhum', 'Aurangabad District',
       'Ramgarh', 'Virudhunagar District', 'Ernakulam district', 'Kheri',
       'Hazaribagh', 'Chandrapur', 'Hoshangabad', 'Thane', 'Simdega',
       'Wardha', 'Narsimhapur', 'Bhandara', 'Palghar', 'Delhi',
       'Buldhana', 'Gadchiroli', 'Sindhudurg', 'Malkangiri',
       'Jhalawar District', 'Rohtas District', 'Upper Subansiri', 'Sagar',
       'Hassan district', 'Uttar Bastar Kanker', 'Dimapur', 'Jhansi',
       'Kota District', 'Hardoi', 'Shivpuri', 'Hadiya', 'Ghaziabad',
       'Palwal', 'Dhamtari', 'Sidama Region', 'Buxar', 'Janjgir-Champa',
       'Kandhamal', 'Munger', 'Rajnandgaon', 'South Gonder', 'Zone 2',
       'Gaurela-Pendra-Marwahi district', 'Mamit', 'Damoh', 'Kolhapur',
       'Sahibganj (district)', 'Oromia Region', 'West Shewa', 'Mungeli',
       'Kodarma', 'Giridih', 'Palamu', 'Bijapur', 'Betul', 'Wolayita',
       'Agnuak', 'West Harerghe', 'Illubabor', 'Selti', 'Latehar',
       'Papum Pare', 'Arsi', 'Amhara Region', 'Zone 3',
       'Dirashe special woreda', 'Belgaum district', 'Jhajjar',
       'South Wollo', 'Alaba', 'Gedeo', 'Bench Maji', 'West Arsi',
       'Afder', 'Dawro', "Segen Peoples'", 'Yem Special Woreda',
       'Mudug Region', 'South Omo', 'Amaro Special Woreda', 'Korahe',
       'Thiruvallur District', 'Keffa', 'Guraghe', 'Sheka', 'Hareri',
       'Konso Special Woreda', 'Dire Dawa Region', 'Western Tigray',
       'Burji Special Woreda', 'East Harerghe', 'Awi Agew', 'Guji',
       'West Wellega', 'North Wello', 'East Shewa', 'East Wellega',
       'East Gojjam', 'Pawe Special', 'Oromia', 'Metekel', 'Liben',
       'Poonch district', 'Madhepura', 'Solan', 'Baloda Bazar',
       'Somali Region', 'Maldah', 'Shabelle', 'Mandera Triangle',
       'Kelem Wellega', 'Ri-Bhoi', 'Zone 5', 'Agra division', 'Nogob',
       'Asosa', 'Sri Muktsar Sahib District', 'Paschim Bardhaman',
       'Gwalior', 'Borena', 'Siti', 'Jarar', 'Raigad', 'Osmanabad',
       'Medchal–Malkajgiri', 'Umaria', 'Jashpur', 'Indore District',
       'Guna', 'Bhind', 'Dhar', 'Anuppur', 'Bhopal', 'Rajgarh', 'Nagpur',
       'Sidhi', 'Konta Special Woreda', 'Seoni', 'Nashik', 'Kurnool',
       'Chikkamagaluru district', 'Durg', 'CAL Fire Southern Region',
       'North Delhi', 'Howrah', 'Nyabihu', 'Sarlahi', 'Daedok Innopolis',
       'Al Faw', 'Annamayya', 'Churachandpur', 'চুয়াডাঙ্গা জেলা',
       'Firozabad', 'Ahmedabad District', 'Shimoga District',
       'Nairobi Area', 'Jodhpur District', 'Hyderabad', 'Khandwa',
       'Dhule', 'West Khasi Hills', 'Faizabad', 'Kembata Tembaro',
       'Dakshina Kannada district', 'Dantewada'], dtype=object)

In [221]:
#Since we had some weird names in our list, we will try and clean it up abit. The .split('/') function will split strings by a given separator
found_you[5].split('/')[-1] #If we add the minus one, we should always get the last (and hopefully correct district name)

' Addis Ababa'

In [222]:
found_you[2].split('/')[-1] #It also works for the ones without a / separator

'Faridabad'

In [223]:
# Let's try to get these districts looking a bit nicer without the non-english names. We write a for loop with the above code;
really_found_you = []
for x in tqdm(range(len(found_you))):
    I_dont_know = found_you[x].split('/')[-1] # adding the bits of code i tested above
    really_found_you.append(I_dont_know) #Append to our empty list. Indexes should match up

100%|██████████| 1619/1619 [00:00<00:00, 16808.11it/s]

In [224]:
really_found_you[39] # we still got some weird names that aren't english. After a quick look through them, the "patterns" in lack of better words seem to be repeating the same 2 again.
# So we let's first replace those. 
#We got: 
# ሰሜን ጎንደር = North Gondar and 
# ሰሜን ወሎ = North Wello (no I don't read ethiopean, but Google is my friend)

'ሰሜን ጎንደር'

In [225]:
#Let's replace them
for i in range(len(really_found_you)):
  
    
    if really_found_you[i] == 'ሰሜን ጎንደር':
        really_found_you[i] = 'North Gondar'
  
    
    if really_found_you[i] == 'ሰሜን ወሎ':
        really_found_you[i] = 'North Wello'

In [226]:
really_found_you[39] #sucess!

'North Gondar'

In [227]:
# Let's recreate our DF again now with the corrected values;
found_you_df = pd.DataFrame(really_found_you,columns=['UserDistrict'])

In [228]:
found_users_df = pd.concat([user_district_df, found_you_df],axis=1)
found_users_df

      Userinfo_Key                 UserDistrict
0           474737                 Nabarangapur
1           474986               Jammu District
2           476738                    Faridabad
3           481106                 Kanpur Nagar
4           481511                Pauri Garhwal
...            ...                          ...
1614        928390  North Shewa (Amhara Region)
1615        928853                 North Gondar
1616        935121  North Shewa (Amhara Region)
1617        939284  North Shewa (Amhara Region)
1618        945718                 North Gondar

[1619 rows x 2 columns]

In [229]:
# As it turns out we still have roughly 130 users with empty strings for districts which isn't useful. Most of these are from roughly the same areas based on the lat/lon data
# so for these I will simply find the districts through google and add them manually (yes, sometimes efforts have to be lowtech)
really_found_you[118]

''

In [230]:
#Making a function to give me the indexes of the missing states.
def find_indices(list_to_check, item_to_find):
    indices = []
    for idx, value in enumerate(list_to_check):
        if value == item_to_find:
            indices.append(idx)
    return indices

In [231]:
blank_list = find_indices(really_found_you,'') #Creating my list of indexes that have '' empty string for state_district.

In [232]:
# Just creating a printed out list of indexes and matching lat/long to find them manually (it was initially 134 users with empty strings)
for i in blank_list:
    print(f'Index {i} lat/lon: ' + str(lat_list[i]) +","+str(lon_list[i]))

Index 36 lat/lon: 22.5159759,88.3929637
Index 118 lat/lon: 23.8072333,86.4701313
Index 124 lat/lon: 22.4734067,88.3695949
Index 129 lat/lon: 22.7519828,88.3713696
Index 157 lat/lon: 22.4880621,88.3935816
Index 168 lat/lon: 18.4348198,73.8480931
Index 169 lat/lon: 18.6206324,73.7353715
Index 173 lat/lon: 30.7081854,76.7785551
Index 176 lat/lon: 22.8957172,88.427064
Index 198 lat/lon: 31.4205292,76.6445826
Index 248 lat/lon: 28.4776379,76.9074673
Index 323 lat/lon: 28.6740771,77.4664234
Index 352 lat/lon: 28.8531986,77.5875557
Index 358 lat/lon: 6.60032,38.4242443
Index 366 lat/lon: 20.41981604,80.85105434
Index 387 lat/lon: 8.5367352,39.2621208
Index 398 lat/lon: 8.577749,39.2895764
Index 399 lat/lon: 22.0715715,81.6834564
Index 406 lat/lon: 23.2992656,81.3979299
Index 413 lat/lon: 18.7900281,80.8119131
Index 443 lat/lon: 11.594148,37.3822772
Index 472 lat/lon: 7.0323651,38.4781653
Index 477 lat/lon: 6.7869172,47.4153237
Index 509 lat/lon: 7.0419751,38.4703338
Index 522 lat/lon: 9.5978026,41.8441558
Index 523 lat/lon: 9.5819253,41.8705006
Index 524 lat/lon: 9.6220047,41.7875422
Index 527 lat/lon: 9.6019754,41.8238639
Index 553 lat/lon: 9.5923034,41.8419443
Index 558 lat/lon: 9.5964777,41.8381868
Index 562 lat/lon: 9.5947508,41.8764985
Index 579 lat/lon: 8.5641349,39.2641078
Index 580 lat/lon: 6.48954304,38.51300733
Index 585 lat/lon: 7.0249042,38.4899364
Index 586 lat/lon: 9.5993352,41.876372
Index 595 lat/lon: 9.6092541,41.8261655
Index 607 lat/lon: 8.5480634,39.2804892
Index 620 lat/lon: 7.0242817,38.473414
Index 643 lat/lon: 11.5860973,37.3887736
Index 644 lat/lon: 4.1610466,42.0816966
Index 647 lat/lon: 8.527878,39.2613394
Index 669 lat/lon: 3.9407243,41.8577484
Index 678 lat/lon: 8.5521491,39.2734219
Index 686 lat/lon: 8.5552312,39.296512
Index 754 lat/lon: 8.5500937,39.2766672
Index 755 lat/lon: 8.5279087,39.261335
Index 777 lat/lon: 9.5990341,41.8314843
Index 786 lat/lon: 11.5940502,37.3923945
Index 827 lat/lon: 8.5403866,39.264335
Index 834 lat/lon: 7.0265431,38.4782571
Index 847 lat/lon: 9.5941805,41.8835093
Index 849 lat/lon: 6.6011075,38.4141566
Index 864 lat/lon: 8.5669086,39.2634629
Index 927 lat/lon: 9.598899,41.8508178
Index 929 lat/lon: 9.6024442,41.8589902
Index 940 lat/lon: 9.5985231,41.875521
Index 951 lat/lon: 9.595285,41.8547293
Index 956 lat/lon: 7.0449559,38.4696863
Index 960 lat/lon: 9.5956967,41.8369518
Index 984 lat/lon: 11.5841229,37.3870609
Index 991 lat/lon: 9.5893764,41.8556534
Index 1004 lat/lon: 7.0696473,38.4819757
Index 1012 lat/lon: 6.8759287,38.4440779
Index 1020 lat/lon: 7.0165877,38.4762424
Index 1021 lat/lon: 31.4492726,76.7278825
Index 1038 lat/lon: 9.5911323,41.8689234
Index 1043 lat/lon: 22.5716195,88.3607621
Index 1051 lat/lon: 11.58416864,37.38717795
Index 1059 lat/lon: 9.6071086,41.8207796
Index 1063 lat/lon: 7.0796454,38.4869695
Index 1071 lat/lon: 7.0366973,38.4961284
Index 1077 lat/lon: 8.540014,39.2646481
Index 1092 lat/lon: 8.5415593,39.2734301
Index 1095 lat/lon: 8.5387074,39.2634857
Index 1103 lat/lon: 7.0291997,38.4657792
Index 1105 lat/lon: 9.5999252,41.8720716
Index 1120 lat/lon: 9.6119622,41.8372977
Index 1121 lat/lon: 8.5366623,39.261413
Index 1123 lat/lon: 8.536971,39.2625764
Index 1125 lat/lon: 8.537378,39.2623868
Index 1126 lat/lon: 8.5367238,39.2626896
Index 1127 lat/lon: 8.5367237,39.2626892
Index 1130 lat/lon: 8.5369475,39.2626263
Index 1159 lat/lon: 22.5356399,88.320361
Index 1173 lat/lon: 8.5278975,39.261346
Index 1177 lat/lon: 8.5278362,39.2614205
Index 1179 lat/lon: 11.5930078,37.3847188
Index 1181 lat/lon: 8.5432228,39.2758375
Index 1187 lat/lon: 6.527768271,38.82822021
Index 1192 lat/lon: 7.0312728,38.473589
Index 1209 lat/lon: 8.5278957,39.2613103
Index 1210 lat/lon: 8.5278902,39.2613234
Index 1211 lat/lon: 8.5278981,39.2613098
Index 1212 lat/lon: 8.5545214,39.269852
Index 1214 lat/lon: 8.5544769,39.2697215
Index 1220 lat/lon: 8.5278184,39.2614101
Index 1224 lat/lon: 8.5402636,39.2679623
Index 1231 lat/lon: 8.5443651,39.2706149
Index 1246 lat/lon: 8.5278978,39.2613102
Index 1252 lat/lon: 7.0431923,38.4753
Index 1268 lat/lon: -1.6427321,29.3873708
Index 1277 lat/lon: 4.1650745,42.0751741
Index 1290 lat/lon: 9.5842953,41.8651986
Index 1293 lat/lon: 9.5890354,41.8683026
Index 1338 lat/lon: 26.8681696,85.5517178
Index 1340 lat/lon: 7.0316222,38.4728912
Index 1360 lat/lon: 8.5375687,39.2628148
Index 1364 lat/lon: 36.3741546,127.3654559
Index 1369 lat/lon: 3.9491398,41.8501974
Index 1375 lat/lon: 11.5943413,37.4010006
Index 1387 lat/lon: 13.7540904,34.3992737
Index 1402 lat/lon: 7.0511992,38.4940261
Index 1412 lat/lon: 7.026196,38.4663779
Index 1464 lat/lon: 9.60389488,41.86909641
Index 1467 lat/lon: 8.538728,39.2578423
Index 1470 lat/lon: 9.6025896,41.836641
Index 1474 lat/lon: 9.6043528,41.8720271
Index 1478 lat/lon: -1.2946861,36.7908956
Index 1511 lat/lon: 11.583531,37.400985
Index 1536 lat/lon: 8.5386268,39.2586674
Index 1554 lat/lon: 8.5386715,39.2585113
Index 1575 lat/lon: 8.539311,39.2578423
Index 1583 lat/lon: 8.5386759,39.2584928
Index 1585 lat/lon: 8.5397492,39.2588162
Index 1589 lat/lon: 8.5354567,39.2547371
Index 1595 lat/lon: 8.5376246,39.2552061
Index 1596 lat/lon: 8.5376194,39.2552143
Index 1597 lat/lon: 8.5377021,39.2556153
Index 1598 lat/lon: 8.537674,39.2555723
Index 1599 lat/lon: 8.537626,39.2552044
Index 1600 lat/lon: 8.5395106,39.2584916
Index 1601 lat/lon: 8.5376241,39.2552137
Index 1607 lat/lon: 8.5386803,39.2585066

In [233]:
indexes = [36, 124, 129, 157 ,176,1043,1159] #Doing all the replacements after manually finding them
replacements = list(len(indexes) * ('Kolkata',))    

for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
    

indexes = [118]
replacements = list(len(indexes) * ('Dhanbad',))        

for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
    

indexes = [168, 169,1423]
replacements = list(len(indexes) * ('Pune',))

for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement


indexes = [173]
replacements = list(len(indexes) * ('Chandigarh',))   

for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
    

indexes = [198]
replacements = list(len(indexes) * ('Bilaspur',))

for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
    
indexes = [248]
replacements = list(len(indexes) * ('Gurgaon',))    

for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
    

indexes = [323]
replacements = list(len(indexes) * ('Delhi',))    

for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
    

indexes = [352]
replacements = list(len(indexes) * ('Ghaziabad',))    

for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
    

indexes = [358, 472, 509, 580, 585, 620,834,849,956,1004,1012,1020,1063, 1071,1103,1187,1192,1252,1340,1402,1412]
replacements = list(len(indexes) * ('Sidama Region',))    

for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
    

indexes = [366]
replacements = list(len(indexes) * ('Rajnandgaon',))
    
for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
        

indexes = [387,398,579,607,647,678,686,754,755,827,864,1077,1092,1095,1121,1123,1125,1126,1127,1130,1173, 1177,1181,1209,1210,1211,1212,1214,1220,1224,1231,1246, 1360,1467,1536,1554,1575,1583,1585,1589,1595,1596,1597,1598,1599,1600,1601,1607]
replacements = list(len(indexes) * ('Oromia Region',))    
for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
    

indexes = [399]
replacements = list(len(indexes) * ('Mungeli',))    
for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
    

indexes = [406]
replacements = list(len(indexes) * ('Giridih',))    
for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
    

indexes = [413]
replacements = list(len(indexes) * ('Bijapur',))    
for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
    

indexes = [1338]
replacements = list(len(indexes) * ('Sarlahi',))    
for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
    
indexes = [1021]
replacements = list(len(indexes) * ('Sonipat',))    
for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
    

indexes = [443, 643, 786,984,1051,1179,1375,1511]
replacements = list(len(indexes) * ('Amhara Region',))    
for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
    

indexes = [522, 523, 524, 527, 553, 558, 562, 586,595,777,847,927,929,940,951,960,991, 1038, 1059,1105,1120, 1290, 1293, 1464,1470,1474]
replacements = list(len(indexes) * ('Dire Dawa Region',))    
for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
    

indexes = [477]
replacements = list(len(indexes) * ('Mudug Region',))    
for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
    

indexes = [644,1277]
replacements = list(len(indexes) * ('Somali Region',))    
for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
    

indexes = [669,1369]
replacements = list(len(indexes) * ('Mandera Triangle',))    
for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
        

indexes = [1364]
replacements = list(len(indexes) * ('Daedok Innopolis',))    
for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
        

indexes = [1387]
replacements = list(len(indexes) * ('Al Faw',))    
for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement
        

indexes = [1478]
replacements = list(len(indexes) * ('Nairobi Area',))    
for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement

indexes = [1268]
replacements = list(len(indexes) * ('Nyabihu',))    
for (index, replacement) in zip(indexes, replacements):
    really_found_you[index] = replacement

In [234]:
really_found_you[1170] #apparently the California Fire department has been looking at the app as well

'CAL Fire Southern Region'

In [235]:
blank_list = find_indices(really_found_you,'') #Performing another blank value check

In [236]:
blank_list #No more blank districts, yay.

[]

In [237]:
found_you_df = pd.DataFrame(really_found_you,columns=['UserDistrict']) # Creating the dataframe with final districts

In [238]:
found_users_df = pd.concat([user_district_df, found_you_df],axis=1)
found_users_df

      Userinfo_Key                 UserDistrict
0           474737                 Nabarangapur
1           474986               Jammu District
2           476738                    Faridabad
3           481106                 Kanpur Nagar
4           481511                Pauri Garhwal
...            ...                          ...
1614        928390  North Shewa (Amhara Region)
1615        928853                 North Gondar
1616        935121  North Shewa (Amhara Region)
1617        939284  North Shewa (Amhara Region)
1618        945718                 North Gondar

[1619 rows x 2 columns]

In [239]:
# Now let's do the same steps for the country and state names;

In [240]:
# We create a list, and run each ID through our geolocator to get the countries. These will match up indexwise with our dataframe
found_your_country = []
for lat, lon in tqdm(zip(lat_list, lon_list)):
    location = geolocator.reverse(str(lat)+ ','+ str(lon))
    country = location.raw['address'].get('country','')
    found_your_country.append(country)

1619it [14:04,  1.92it/s]

In [241]:
# We create a list, and run each ID through our geolocator to get the states. These will match up indexwise with our dataframe
found_your_state = []
for lat, lon in tqdm(zip(lat_list, lon_list)):
    location = geolocator.reverse(str(lat)+ ','+ str(lon))
    state = location.raw['address'].get('state','')
    found_your_state.append(state)

1619it [13:29,  2.00it/s]

In [242]:
found_your_country.index('United States') #Was a bit confused about a US user, but mostly just needed to list up the 'weird' names
# ኢትዮጵያ = Ethiopia
# Soomaaliya الصومال = Somalia
# नेपाल = Nepal
# 대한민국 = South Korea
# السودان = Sudan
# বাংলাদেশ = Bangladesh

1170

In [243]:
country_df = pd.DataFrame(found_your_country,columns=['UserCountry'])

In [244]:
country_df['UserCountry'].unique() #I create a dataframe to get out the unique values

array(['India', 'ኢትዮጵያ', 'Soomaaliya الصومال', 'Kenya', 'United States',
       'Rwanda', 'नेपाल', '대한민국', 'السودان', 'বাংলাদেশ'], dtype=object)

In [245]:
#Let's replace them
for i in range(len(found_your_country)):
  
    
    if found_your_country[i] == 'Soomaaliya الصومال':
        found_your_country[i] = 'Somalia'
  
    
    if found_your_country[i] == 'ኢትዮጵያ':
        found_your_country[i] = 'Ethiopia'
    
    if found_your_country[i] == '대한민국':
        found_your_country[i] = 'South Korea'
        
    if found_your_country[i] == 'السودان':
        found_your_country[i] = 'Sudan'
    
    if found_your_country[i] == 'বাংলাদেশ':
        found_your_country[i] = 'Bangladesh'
    
    if found_your_country[i] == 'नेपाल':
        found_your_country[i] = 'Nepal'

In [246]:
country_df = pd.DataFrame(found_your_country,columns=['UserCountry']) #Let's remake the DF with our corrected values for another check before we concat

In [247]:
country_df['UserCountry'].unique() # Looks good

array(['India', 'Ethiopia', 'Somalia', 'Kenya', 'United States', 'Rwanda',
       'Nepal', 'South Korea', 'Sudan', 'Bangladesh'], dtype=object)

In [248]:
found_users_df = pd.concat([found_users_df, country_df],axis=1) # Let's put this next part of the dataframe together
found_users_df

      Userinfo_Key                 UserDistrict UserCountry
0           474737                 Nabarangapur       India
1           474986               Jammu District       India
2           476738                    Faridabad       India
3           481106                 Kanpur Nagar       India
4           481511                Pauri Garhwal       India
...            ...                          ...         ...
1614        928390  North Shewa (Amhara Region)    Ethiopia
1615        928853                 North Gondar    Ethiopia
1616        935121  North Shewa (Amhara Region)    Ethiopia
1617        939284  North Shewa (Amhara Region)    Ethiopia
1618        945718                 North Gondar    Ethiopia

[1619 rows x 3 columns]

In [249]:
# That's country names done, let's take a look at your state names

In [250]:
state_df = pd.DataFrame(found_your_state,columns=['UserState']) #Let's do the same for the State data. This time we will have to repeat some of the cleaning steps from earlier

In [251]:
state_df['UserState'].unique()

array(['Odisha', 'Jammu and Kashmir', 'Haryana', 'Uttar Pradesh',
       'Uttarakhand', 'አዲስ አበባ', 'Assam', 'Chhattisgarh', 'Kerala',
       'Bihar', 'Madhya Pradesh', 'ኦሮሚያ ክልል / Oromia', 'አፋር ክልል / Afar',
       'Gujarat', 'Rajasthan', 'West Bengal', 'Delhi', 'Karnataka',
       'Punjab', 'አማራ ክልል / Amhara', 'Jharkhand', 'Andhra Pradesh',
       'Tamil Nadu', 'Mizoram', 'Nagaland', 'Puducherry', 'Telangana',
       'Himachal Pradesh', 'Maharashtra', '', 'ሶማሌ ክልል / Somali',
       "የደቡብ ብሔር ብሔረሰቦችና ሕዝቦች ክልል / Southern Nations, Nationalities, and Peoples' Region",
       'Arunachal Pradesh', 'ሲዳማ ክልል / Sidama', 'ጋምቤላ ሕዝቦች ክልል / Gambela',
       'Mudug مدج', 'ሐረሪ ሕዝብ ክልል / Harar', 'ድሬዳዋ', 'ትግራይ',
       'ቤንሻንጉል ጉሙዝ ክልል / Benishangul-Gumuz', 'Gedo جدو', 'Mandera',
       'Meghalaya', 'California', 'Iburengerazuba', 'القضارف', 'Manipur',
       'খুলনা বিভাগ', 'Nairobi'], dtype=object)

In [252]:
found_states = [] # Doing the splitsies first so we mostly get english text;
for x in tqdm(range(len(found_your_state))):
    I_dont_know = found_your_state[x].split('/')[-1] # adding the bits of code i tested earlier
    found_states.append(I_dont_know)

100%|██████████| 1619/1619 [00:00<00:00, 566353.48it/s]

In [253]:
found_states_df = pd.DataFrame(found_states,columns=['UserState'])
found_states_df['UserState'].unique()

array(['Odisha', 'Jammu and Kashmir', 'Haryana', 'Uttar Pradesh',
       'Uttarakhand', 'አዲስ አበባ', 'Assam', 'Chhattisgarh', 'Kerala',
       'Bihar', 'Madhya Pradesh', ' Oromia', ' Afar', 'Gujarat',
       'Rajasthan', 'West Bengal', 'Delhi', 'Karnataka', 'Punjab',
       ' Amhara', 'Jharkhand', 'Andhra Pradesh', 'Tamil Nadu', 'Mizoram',
       'Nagaland', 'Puducherry', 'Telangana', 'Himachal Pradesh',
       'Maharashtra', '', ' Somali',
       " Southern Nations, Nationalities, and Peoples' Region",
       'Arunachal Pradesh', ' Sidama', ' Gambela', 'Mudug مدج', ' Harar',
       'ድሬዳዋ', 'ትግራይ', ' Benishangul-Gumuz', 'Gedo جدو', 'Mandera',
       'Meghalaya', 'California', 'Iburengerazuba', 'القضارف', 'Manipur',
       'খুলনা বিভাগ', 'Nairobi'], dtype=object)

In [254]:
# Replacing for english names; 
# አዲስ አበባ = Addis Ababa
# Mudug مدج = Mudug
# ድሬዳዋ = Dire Dawa
# ትግራይ = Tigray
# Gedo جدو = Gedo
# القضارف = Al Qadarif
# খুলনা বিভাগ = Khulna Division

In [255]:
#Let's replace/translate/clean up the ones we already know;
for i in range(len(found_states)):
  
    
    if found_states[i] == 'አዲስ አበባ':
        found_states[i] = 'Addis Ababa'
  
    
    if found_states[i] == 'Mudug مدج':
        found_states[i] = 'Mudug'
    
    if found_states[i] == 'ድሬዳዋ':
        found_states[i] = 'Dire Dawa'
        
    if found_states[i] == 'ትግራይ':
        found_states[i] = 'Tigray'
    
    if found_states[i] == 'Gedo جدو':
        found_states[i] = 'Gedo'
    
    if found_states[i] == 'القضارف':
        found_states[i] = 'Al Qadarif'
    
    if found_states[i] == 'খুলনা বিভাগ':
        found_states[i] = 'Khulna Division'

In [256]:
blank_list = find_indices(found_states,'') #Performing another blank value check
blank_list #Only a few blank states, which is manageable to find.

[173,
 461,
 473,
 508,
 512,
 535,
 600,
 740,
 774,
 783,
 840,
 913,
 955,
 967,
 1073,
 1124,
 1166,
 1338,
 1364,
 1557]

In [257]:
for i in blank_list: #Creating the list of blank indexes and their corresponding lat/lon to find the country. They seem to be in 3-4 general areas, so that makes it a lot easier.
    print(f'Index {i} lat/lon: ' + str(lat_list[i]) +","+str(lon_list[i]))

Index 173 lat/lon: 30.7081854,76.7785551
Index 461 lat/lon: 6.9995648,35.5902338
Index 473 lat/lon: 7.0141415,37.2720475
Index 508 lat/lon: 7.3015715,36.2311204
Index 512 lat/lon: 7.2007231,35.414186
Index 535 lat/lon: 7.7484153,35.4762193
Index 600 lat/lon: 7.1179448,36.1462237
Index 740 lat/lon: 7.2750214,36.2387556
Index 774 lat/lon: 7.1172462,36.4697523
Index 783 lat/lon: 6.8761637,35.5208036
Index 840 lat/lon: 7.1487538,35.8112923
Index 913 lat/lon: 7.1448886,35.800893
Index 955 lat/lon: 6.9582235,35.5574072
Index 967 lat/lon: 7.0608879,35.4648514
Index 1073 lat/lon: 7.176276,36.7939001
Index 1124 lat/lon: 7.1177607,36.470417
Index 1166 lat/lon: 7.682416667,35.26707667
Index 1338 lat/lon: 26.8681696,85.5517178
Index 1364 lat/lon: 36.3741546,127.3654559
Index 1557 lat/lon: 6.9545739,35.5519171

In [258]:
indexes = [173] # Replacing the empty strings with the state names
replacements = list(len(indexes) * ('Himachal Pradesh',))    
for (index, replacement) in zip(indexes, replacements):
    found_states[index] = replacement
    
indexes = [461,473,508,512,535,600,740,774,783,840,913,955,967,1073,1124,1166,1557,1557]
replacements = list(len(indexes) * ("Southern Nations, Nationalities, and People's Region",))    
for (index, replacement) in zip(indexes, replacements):
    found_states[index] = replacement
    
indexes = [1338]
replacements = list(len(indexes) * ('Madhesh Pradesh',))    
for (index, replacement) in zip(indexes, replacements):
    found_states[index] = replacement
    
indexes = [1364]
replacements = list(len(indexes) * ('Daejon',))    
for (index, replacement) in zip(indexes, replacements):
    found_states[index] = replacement

In [259]:
found_states.index('') #Checking for any more empty strings. And there is no more empty strings, yaay

ValueError: '' is not in list

In [261]:
 #Assemble the final dataframe. (Don't be a dummy like me and run this twice accidentally)
found_states_df = pd.DataFrame(found_states,columns=['UserState'])

In [ ]:
found_users_df1 = pd.concat([found_users_df,found_states_df],axis=1)

In [ ]:
# FINAL NOTES: With this code we simply assume that the most pinged GPS coordinates from the user, is their true locations.
# If any other true data says otherwise (such as the Userinfo_State or other location data), this assumption is broken and these 'imputations' could very well be wrong
# If no other data states the true location for the missing data, the assumptions holds ground and these 'imputations' are the best estimator for the true values.

In [268]:
found_users_df1.loc[found_users_df1['UserCountry'] == 'United States']

,Userinfo_Key,UserDistrict,UserCountry,UserState,UserState,UserState
1170,772268,CAL Fire Southern Region,United States,California,California,California

In [150]:
#found_users_df.to_csv('Found_users_location_data.csv',index=False) # Out of habit, we saved it to a CSV file in order to implement it in further work.